# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment directory
venv/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore sensitive files
.env
